<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.userCardTransaction.UserCardTransactionMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="userCardTransactionId">
        INSERT INTO user_card_transaction(
            user_card_id, partner_id,
            res_used_date, res_used_time,
            res_payment_due_date, comm_start_date, comm_end_date,
            res_card_no, res_card_no1, res_card_name,
            res_used_amount, res_payment_type, res_installment_month,
            res_approval_no,
            res_vat, res_cash_back, res_krw_amt,
            res_cancel_yn, res_cancel_amount,
            res_member_store_name, res_member_store_corp_no, res_member_store_type,
            res_member_store_addr, res_member_store_tel_no, res_member_store_no,
            res_account_currency, res_home_foreign_type,
            last_modified_at
        )
        VALUES(
               #{userCardId}, #{partnerId},
               #{resUsedDate}, #{resUsedTime},
               #{resPaymentDueDate}, #{commStartDate}, #{commEndDate},
               #{resCardNo}, #{resCardNo1}, #{resCardName},
               #{resUsedAmount}, #{resPaymentType}, #{resInstallmentMonth},
               #{resApprovalNo},
               #{resVat}, #{resCashback}, #{resKrwAmt},
               #{resCancelYn},
                <if test="resCancelAmount == '' or resCancelAmount == null">
                    NULL
                </if>
                <if test="resCancelAmount != null and resCancelAmount != ''">
                    #{resCancelAmount}
                </if>,
               #{resMemberStoreName}, #{resMemberStoreCorpNo}, #{resMemberStoreType},
               #{resMemberStoreAddr}, #{resMemberStoreTelNo}, #{resMemberStoreNo},
               #{resAccountCurrency}, #{resHomeForeignType},
               NOW()
              )
    </insert>

    <select id="get" resultType="userCardTransaction">
        SELECT *
        FROM user_card_transaction
        WHERE user_card_transaction_id=#{userCardTransactionId}
    </select>

    <select id="existsByApprovalInfo" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user_card_transaction
            WHERE user_card_id = #{userCardId}
            AND res_used_date = #{usedDate}
            AND res_used_amount = #{usedAmount}
            <if test="approvalNo != null">
                AND res_approval_no = #{approvalNo}
            </if>
            <if test="approvalNo == null">
                AND res_approval_no IS NULL
            </if>
            <if test="usedTime != null">
                AND res_used_time = #{usedTime}
            </if>
            <if test="usedTime == null">
                AND res_used_time IS NULL
            </if>
            AND is_deleted = false
        )
    </select>

    <select id="getUserTransactionSummaryDto" resultType="UserTransactionSummaryDto">
        SELECT
            t.user_card_transaction_id AS userCardTransactionId,
            t.res_member_store_name AS resMemberStoreName,
            t.res_member_store_type AS resMemberStoreType,
            t.res_used_amount       AS resUsedAmount
        FROM user_card_transaction t
                 JOIN user_card uc ON uc.user_card_id = t.user_card_id
        WHERE uc.user_id = #{userId}
--           AND uc.is_deactivate = FALSE
          AND t.res_used_date BETWEEN #{startDate} AND #{endDate}
          AND t.res_cancel_yn = '0'
          AND t.res_account_currency = 'KRW'
    </select>

    <resultMap id="UserCardTransactionMap"
               type="com.payper.domain.user.domain.UserCardTransaction">
        <id     property="userCardTransactionId" column="user_card_transaction_id"/>
        <result property="userCardId"            column="user_card_id"/>
        <result property="partnerId"             column="partner_id"/>

        <result property="resUsedDate"           column="res_used_date"/>
        <result property="resUsedTime"           column="res_used_time"/>
        <result property="resCardNo"             column="res_card_no"/>
        <result property="resCardNo1"            column="res_card_no1"/>
        <result property="resCardName"           column="res_card_name"/>
        <result property="resMemberStoreName"    column="res_member_store_name"/>
        <result property="resUsedAmount"         column="res_used_amount"/>
        <result property="resPaymentType"        column="res_payment_type"/>
        <result property="resInstallmentMonth"   column="res_installment_month"/>
        <result property="resApprovalNo"         column="res_approval_no"/>
        <result property="resPaymentDueDate"     column="res_payment_due_date"/>
        <result property="resHomeForeignType"    column="res_home_foreign_type"/>
        <result property="resMemberStoreCorpNo"  column="res_member_store_corp_no"/>
        <result property="resMemberStoreType"    column="res_member_store_type"/>
        <result property="resMemberStoreTelNo"   column="res_member_store_tel_no"/>
        <result property="resMemberStoreAddr"    column="res_member_store_addr"/>
        <result property="resMemberStoreNo"      column="res_member_store_no"/>
        <result property="resCancelYn"           column="res_cancel_yn"/>
        <result property="resCancelAmount"       column="res_cancel_amount"/>
        <result property="resVat"                column="res_vat"/>
        <result property="resCashback"           column="res_cash_back"/>
        <result property="resKrwAmt"             column="res_krw_amt"/>
        <result property="commStartDate"         column="comm_start_date"/>
        <result property="commEndDate"           column="comm_end_date"/>
        <result property="resAccountCurrency"    column="res_account_currency"/>

        <result property="isDeleted"             column="is_deleted"/>
        <result property="createdAt"             column="created_at"/>
        <result property="deletedAt"             column="deleted_at"/>
        <result property="lastModifiedAt"        column="last_modified_at"/>
    </resultMap>

    <!-- 사용자 + 날짜구간 상세 -->
    <select id="findByUserAndDateRange" resultMap="UserCardTransactionMap">
        SELECT t.user_card_transaction_id, t.user_card_id, t.partner_id,
               t.res_used_date, t.res_used_time, t.res_card_no, t.res_card_no1,
                 COALESCE(c.card_name, t.res_card_name) AS res_card_name,
                 t.res_member_store_name, t.res_used_amount, t.res_payment_type,
                 t.res_installment_month, t.res_approval_no, t.res_payment_due_date,
                 t.res_home_foreign_type, t.res_member_store_corp_no, t.res_member_store_type,
                 t.res_member_store_tel_no, t.res_member_store_addr, t.res_member_store_no,
                 t.res_cancel_yn, t.res_cancel_amount, t.res_vat, t.res_cash_back,
                 t.res_krw_amt, t.comm_start_date, t.comm_end_date, t.res_account_currency,
                 t.is_deleted, t.created_at, t.deleted_at, t.last_modified_at
        FROM user_card_transaction t
            JOIN user_card uc ON uc.user_card_id = t.user_card_id
            JOIN card c ON c.card_id = uc.card_id AND c.is_deleted = FALSE
        WHERE uc.user_id = #{userId} AND t.is_deleted = FALSE
          AND t.res_used_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY t.res_used_date DESC, t.res_used_time DESC
    </select>

</mapper>
