<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.partner.PartnerMapper">
    <select id="findAllByCategoryId" resultType="PartnerTempDto">
        SELECT *
        FROM partner
        WHERE category_id = #{categoryId}
          AND is_deleted = false;
    </select>

    <select id="findByName" resultType="PartnerTempDto">
        SELECT *
        FROM partner
        WHERE partner_name = #{partnerName}
          AND is_deleted = false;
    </select>

<!--    <select id="findIdByName" resultType="Integer">-->
<!--        SELECT partner_id-->
<!--        FROM partner-->
<!--        WHERE partner_name = #{partnerName}-->
<!--          AND is_deleted = false;-->
<!--    </select>-->

    <select id="findIdByName" resultType="Integer">
        <bind name="pattern" value="'%' + partnerName + '%'" />
        SELECT partner_id
        FROM partner
        WHERE partner_name LIKE #{pattern}
        AND is_deleted = false
        LIMIT 1;
    </select>


    <resultMap id="SearchPartnersResponseMap" type="SearchPartnersResponse">
        <id property="id" column="partner_id"/>
        <result property="name" column="partner_name"/>
        <result property="partnerImageUrl" column="partner_image_url"/>
        <result property="categoryId" column="category_id"/>
        <result property="preCategoryId" column="pre_category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryImageUrl" column="category_image_url"/>
    </resultMap>

    <!-- 파트너 리스트 조회에서 사용하는 SQL문 -->
    <sql id="partnerJoinClause">
        SELECT
            p.partner_id, p.partner_name, p.partner_image_url,
            c.category_id, c.pre_category_id, c.category_name, c.category_image_url
        FROM partner p
                 LEFT JOIN category c ON p.category_id = c.category_id
    </sql>

    <!-- 파트너 검색 -->
    <select id="searchWithConditions" resultMap="SearchPartnersResponseMap">
        <include refid="partnerJoinClause" />
        WHERE p.is_deleted = false
        -- 파트너 이름으로 검색 - 포함 여부
        <if test="name != null and name != ''">
            AND p.partner_name LIKE CONCAT('%', #{name}, '%')
        </if>

        -- 카테고리로 검색 - 다중 값 가능
        <if test="category != null and category.size() > 0">
            AND c.category_name IN
            <foreach item="categoryItem" collection="category" open="(" separator="," close=")">
                #{categoryItem}
            </foreach>
        </if>
        ORDER BY p.partner_id;
    </select>

    <select id="findPartnerDetailById" resultType="PartnerTempDto">
        SELECT
            p.partner_id,
            p.partner_name,
            p.partner_image_url,
            c.category_name
        FROM
            partner p
                JOIN
            category c ON p.category_id = c.category_id
        WHERE
            p.partner_id = #{partnerId};
    </select>

    <insert id="registerBenefitPartner">
        INSERT INTO benefit_partner (
            benefit_id,
            partner_id,
            last_modified_at
        )
        VALUES (
                   #{benefitId},
                   #{partnerId},
                   NOW()
               )
    </insert>

    <select id="selectAll" resultType="partner">
        select * from partner;
    </select>

    <select id="findById" resultType="Partner">
        SELECT partner_id, category_id, partner_name, partner_image_url, is_deleted, created_at, deleted_at, last_modified_at
        FROM partner
        WHERE partner_id = #{partnerId}
          AND is_deleted = false
    </select>
</mapper>