<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com.payper.domain.user.dto"/>
        <package name="com.payper.domain.card.dto"/>
        <package name="com.payper.domain.benefit.dto"/>
        <package name="com.payper.domain.category.dto"/>
        <package name="com.payper.domain.partner.dto"/>
    </typeAliases>

</configuration>