<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.user.UserCardMapper">
    <select id="getByUserIdAndCardId" resultType="UserCard">
        SELECT *
        FROM user_card
        WHERE user_id = #{userId} AND card_id = #{cardId}
    </select>

    <select id="getUserCardId" resultType="Integer">
        select
            from

        select card_id from card where card_name=#{cardName};
    </select>
</mapper>
