<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.user.UserMapper">

    <select id="findByOauthProviderAndOauthId" resultType="User">
        SELECT user_id, oauth_provider, oauth_id, nickname, connected_id, role, is_deleted, created_at, deleted_at, last_modified_at
        FROM user
        WHERE oauth_provider = #{ oauthProvider }
          AND oauth_id = #{ oauthId }
          AND is_deleted = false
    </select>

    <select id="findById" resultType="User">
        SELECT * from user WHERE user_id=#{userId} AND is_deleted = false
    </select>

    <update id="updateConnectedId">
        UPDATE user SET connected_id = #{connectedId},last_modified_at=NOW() WHERE user_id = #{userId}
    </update>

    <update id="softDeleteUser">
        UPDATE user
        SET is_deleted = true,
            deleted_at = NOW(),
            last_modified_at = NOW()
        WHERE user_id = #{userId};
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (oauth_provider, oauth_id, nickname, role, last_modified_at)
        VALUES (#{oauthProvider}, #{oauthId}, #{nickname}, #{role}, NOW())
    </insert>

    <select id="getConnectedId" resultType="String">
        SELECT connected_id FROM user WHERE user_id = #{userId}
    </select>

</mapper>
