<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.card.mapper.CardMapper">

    <!-- 카테고리 -->
    <resultMap id="CategoryResponseMap" type="CategoryResponse">
        <id property="id" column="category_id"/>
        <result property="name" column="category_name"/>
        <result property="imageUrl" column="category_image_url"/>
    </resultMap>

    <!-- 혜택 -->
    <resultMap id="BenefitResponseMap" type="BenefitResponse">
        <id property="id" column="benefit_id"/>
        <result property="title" column="benefit_title"/>
        <result property="summary" column="benefit_summary"/>
        <result property="description" column="benefit_description"/>
        <result property="iconUrl" column="benefit_icon_url"/>
        <collection property="categories" resultMap="CategoryResponseMap"/>
    </resultMap>

    <!-- 카드사 -->
    <resultMap id="CardCompanyResponseMap" type="CardCompanyResponse">
        <id property="id" column="company_id"/>
        <result property="name" column="company_name"/>
    </resultMap>

    <!-- 카드 -->
    <resultMap id="CardResponseMap" type="CardResponse">
        <id property="id" column="card_id"/>
        <result property="name" column="card_name"/>
        <result property="type" column="card_type"/>
        <result property="imageUrl" column="card_image_url"/>
        <result property="annualCost" column="annual_fee"/>
        <result property="cardIssueUrl" column="card_issue_url"/>
        <result property="prevMonthSpending" column="prev_month_spending" />
        <association property="company" javaType="CardCompanyResponse" resultMap="CardCompanyResponseMap"/>
        <collection property="benefits" resultMap="BenefitResponseMap"/>
    </resultMap>

    <!-- 카드 리스트 조회에서 사용하는 SQL문 -->
    <sql id="cardJoinClause">
        SELECT
            c.card_id, c.card_name, c.card_type, c.card_image_url, c.annual_fee, c.card_issue_url, c.prev_month_spending,
            cc.company_id, cc.company_name,
            b.benefit_id, b.benefit_title, b.benefit_summary, b.benefit_description, b.benefit_icon_url,
            cat.category_id, cat.category_name, cat.category_image_url
        FROM card c
                 LEFT JOIN card_company cc ON c.company_id = cc.company_id
                 LEFT JOIN benefit b ON c.card_id = b.card_id
                 LEFT JOIN benefit_category bc ON b.benefit_id = bc.benefit_id
                 LEFT JOIN category cat ON bc.category_id = cat.category_id
    </sql>

    <!-- 카드 전체 조회 -->
    <select id="selectAll" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <!-- 카드 조회 -->
    <select id="selectById" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        WHERE c.card_id = #{cardId};
    </select>

    <!-- 카드 검색 -->
    <!-- String name, String type, List<String> category, List<String> cardCompany -->
    <select id="searchWithConditions" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        WHERE 1 = 1
        --           카드 이름으로 검색 - 포함 여부
        <if test="name != null and name != ''">
            AND c.card_name LIKE CONCAT('%', #{name}, '%')
        </if>

        --           카드 종류로 검색(신용 또는 체크)
        <if test="type != null and type != ''">
            AND c.card_type = #{type}
        </if>

        --           카테고리로 검색 - 다중 값 가능
        <if test="category != null and category.size() > 0">
            AND cat.category_name IN
            <foreach item="categoryItem" collection="category" open="(" separator="," close=")">
                #{categoryItem}
            </foreach>
        </if>

        --           카드사 이름으로 검색 - 다중 값 가능
        <if test="cardCompany != null and cardCompany.size() > 0">
            AND cc.company_name IN
            <foreach item="cardCompanyItem" collection="cardCompany" open="(" separator="," close=")">
                #{cardCompanyItem}
            </foreach>
        </if>
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <!-- 내 카드 리스트 조회 -->
    <select id="findByUserId" resultMap="CardResponseMap">
        SELECT
            c.card_id, c.card_name, c.card_type, c.card_image_url, c.annual_fee, c.card_issue_url,
            cc.company_id, cc.company_name,
            b.benefit_id, b.benefit_summary,
            cat.category_id, cat.category_name, cat.category_image_url
        FROM user_card uc
                INNER JOIN card c on uc.card_id = c.card_id
                 LEFT JOIN card_company cc ON c.company_id = cc.company_id
                 LEFT JOIN benefit b ON c.card_id = b.card_id
                 LEFT JOIN benefit_category bc ON b.benefit_id = bc.benefit_id
                 LEFT JOIN category cat ON bc.category_id = cat.category_id
        WHERE uc.user_id = #{userId}
            AND uc.is_deactivate = false
        ORDER BY c.card_name;
    </select>

    <!-- 내 카드로 등록 -->
    <insert id="registerMy">
        insert into user_card(user_id, card_id, last_modified_at)
        values (#{userId}, #{cardId}, NOW())
    </insert>

    <!-- 내 카드로 등록(codef를 통해 저장 -> 카드 번호 포함) -->
    <insert id="registerMyCardWithNumber">
        insert into user_card(user_id, card_id, last3, last_modified_at)
        values (#{userId}, #{cardId}, #{lastNumber}, NOW())
    </insert>

    <select id="existsCardCompany" resultType="boolean">
        select EXISTS(
            select 1 from card_company where company_name=#{cardCompanyName}
        )
    </select>

    <select id="getId" resultType="Integer">
        select card_id from card where card_name=#{cardName};
    </select>

    <select id="getCardId" resultType="Integer">
        SELECT card_id
        FROM card
        WHERE codef_card_name LIKE CONCAT('%', #{codefCardName}, '%');
    </select>

<!--    <select id="getCardId" resultType="Integer">-->
<!--        select card_id from card-->
<!--                       where codef_card_name=#{codefCardName};-->
<!--    </select>-->

    <select id="getCompanyId" resultType="Integer">
        select company_id from card_company where company_name=#{cardCompanyName}
    </select>

    <insert id="registerCompany">
        INSERT INTO card_company(company_name,created_at, is_deleted, last_modified_at)
        VALUES(#{cardCompanyName},NOW(),FALSE, NOW())
    </insert>

    <insert id="register" useGeneratedKeys="true" keyProperty="card.cardId">
        INSERT INTO card (prev_month_spending, annual_fee, card_name, card_type, card_image_url, card_issue_url, company_id, created_at, is_deleted, last_modified_at)
        VALUES (#{card.prevMonthSpending},#{card.annualFee}, #{card.cardName},#{card.cardType},#{card.cardImageUrl},#{card.cardIssueUrl},#{cardCompanyId},NOW(),FALSE,NOW())
    </insert>

    <!-- 내 카드 삭제 -->
    <update id="deleteCardMe">
        UPDATE user_card
        SET is_deactivate = true, deactivate_at = NOW(), last_modified_at = NOW()
        WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deactivate = false
    </update>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM card
            WHERE card_id = #{cardId} AND is_deleted = false
        )
    </select>

    <!-- 카드 재등록 - 복원 -->
    <update id="restoreUserCard">
        UPDATE user_card
        SET is_deactivate = false, deactivate_at = NULL, last_modified_at = NOW()
        WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deactivate = true
    </update>

    <!-- 카드 재등록 - 복원 (codef를 통해 -> 카드 번호 포함) -->
    <update id="restoreUserCardWithNumber">
        UPDATE user_card
        SET is_deactivate = false, deactivate_at = NULL, last3 = #{lastNumber}, last_modified_at = NOW()
        WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deactivate = true
    </update>

    <!-- 내 카드로 삭제된 카드인가 -->
    <select id="isPreviouslyDeletedUserCard" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user_card
            WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deactivate = true
        )
    </select>

<!--    삭제 여부와 관계없이 카드 여부 확인-->
    <select id="existedById" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM card
            WHERE card_id = #{cardId}
        )
    </select>

    <select id="existsUserCard" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user_card
            WHERE user_id = #{userId} AND card_id = #{cardId}
              AND is_deactivate = false
        )
    </select>

<!--Card 테이블에서만 삭제할 때 사용 == 만료-->
    <update id="softDeactivateCard">
        UPDATE card
        SET
--             is_deactivate = true, deactivate_at = NOW(), // 리뷰하시고 OK하시면 주석 해제하겠습니다.
            last_modified_at = NOW()
        WHERE card_id = #{cardId} AND is_deleted = FALSE
    </update>

<!--Card 테이블과 연관된 테이블들 모두에서 삭제할 때 == 우리 서비스에서 아예 제거-->
    <update id="softDelete">
        UPDATE card
        SET deleted_at = NOW(), is_deleted = true, last_modified_at=NOW()
        WHERE card_id = #{cardId} AND is_deleted = FALSE


    </update>

    <update id="softDeleteUserCard">
        UPDATE user_card
        SET deleted_at = NOW(), is_deleted = true, last_modified_at=NOW()
        WHERE card_id = #{cardId} AND is_deleted = FALSE
    </update>

    <update id="softDeleteBenefit">
        UPDATE benefit
        SET deleted_at = NOW(), is_deleted = true, last_modified_at=NOW()
        WHERE card_id = #{cardId} AND is_deleted = FALSE
    </update>

    <update id="update">
        UPDATE card
        SET last_modified_at = NOW(),
            annual_fee= #{card.annualFee},
            card_name = #{card.cardName},
            card_type = #{card.cardType},
            card_image_url = #{card.cardImageUrl},
            card_issue_url = #{card.cardIssueUrl},
            company_id = #{cardCompanyId}
        WHERE card_id=#{cardId}
    </update>

    <update id="registerCodefCardName">
        UPDATE card
        SET codef_card_name = #{apiCardName}
        WHERE card_id = #{cardId}
    </update>

    <!-- 가맹점에 맞는 내 카드 리스트 조회 -->
    <select id="selectByPartnerId" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        INNER JOIN user_card uc ON c.card_id = uc.card_id
        INNER JOIN benefit_partner bp ON b.benefit_id = bp.benefit_id
        WHERE uc.user_id = #{userId}
        AND uc.is_deactivate = false
        AND bp.partner_id = #{partnerId}
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <select id="selectOneByPartnerId" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        INNER JOIN user_card uc ON c.card_id = uc.card_id
        INNER JOIN benefit_partner bp ON b.benefit_id = bp.benefit_id
        WHERE uc.user_id = #{userId}
        AND uc.is_deleted = false
        AND bp.partner_id = #{partnerId}
        ORDER BY RAND()
        LIMIT 1;
    </select>

    <select id="getByCardName" resultType="Card">
        SELECT *
        FROM card
        WHERE card_name = #{cardName}
    </select>
</mapper>

