<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payper.domain.benefit.BenefitMapper">
    <select id="findAllByCardId" resultMap="BenefitResponseMap">
        SELECT
            b.benefit_id,
            b.benefit_title,
            b.benefit_summary,
            b.benefit_description,
            b.benefit_icon_url
        FROM benefit b
        WHERE b.card_id = #{cardId}
        AND b.is_deleted = false
        ORDER BY b.benefit_id
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="request.benefitId">
        INSERT INTO benefit (
                             card_id,
                             benefit_title,
                             benefit_summary,
                             benefit_description,
                             benefit_icon_url,
                             is_deleted,
                             created_at,
                             deleted_at,
                             last_modified_at
        )
        VALUES (
                #{cardId},
                #{request.title},
                #{request.summary},
                #{request.description},
                #{request.iconUrl},
                false,
                NOW(),
                null,
                NOW()
        )
    </insert>

    <update id="update">
        UPDATE benefit
        SET
            benefit_title = #{request.title},
            benefit_summary = #{request.summary},
            benefit_description = #{request.description},
            benefit_icon_url = #{request.iconUrl},
            last_modified_at = NOW()
        WHERE benefit_id = #{benefitId}
    </update>

    <update id="delete">
        UPDATE benefit
        SET is_deleted = true, deleted_at = NOW(), last_modified_at = NOW()
        WHERE card_id = #{cardId} AND benefit_id = #{benefitId} AND is_deleted = false
    </update>


    <resultMap id="BenefitResponseMap" type="BenefitResponse">
        <id property="id" column="benefit_id"/>
        <result property="title" column="benefit_summary"/>
        <result property="summary" column="benefit_description"/>
        <result property="description" column="benefit_description"/>
        <result property="iconUrl" column="benefit_icon_url"/>
    </resultMap>

    <insert id="registerGrades" parameterType="map">
        INSERT INTO grade (card_id, start, total_discount, last_modified_at)
        VALUES
        <foreach collection="grades" item="grade" separator=",">
            (#{cardId}, #{grade.start}, #{grade.totalDiscount}, NOW())
        </foreach>
    </insert>

    <select id="findGradeIdByCardIdAndStart" resultType="Integer">
        SELECT grade_id
        FROM grade
        WHERE card_id = #{cardId}
        AND start &lt;= #{start}
        ORDER BY start DESC
        LIMIT 1;
    </select>

    <insert id="registerBenefitGradeDiscount">
        insert into benefit_grade_discount (type,
                                            amount,
                                            min_payment,
                                            limit_count,
                                            limit_amount,
                                            benefit_id,
                                            grade_id,
                                            last_modified_at)
        values (#{discount.type},
                #{discount.amount},
                #{discount.minPayment},
                #{discount.limitCount},
                #{discount.limitAmount},
                #{benefitId},
                #{gradeId},
                NOW());
    </insert>
</mapper>

