<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payper.domain.category.CategoryMapper">
    <select id="findIdByCategoryName" resultType="Integer">
        select category_id from category
                           where lower(category_name) = LOWER(#{categoryName})
                             and is_deleted = false;
    </select>

    <select id="findNameByPartnerId" resultType="String">
        SELECT c.category_name
        FROM partner p
                 JOIN category c ON p.category_id = c.category_id
        WHERE p.partner_id = #{partnerId};

    </select>

    <insert id="registerBenefitCategory">
        INSERT INTO benefit_category (
            benefit_id,
            category_id,
            last_modified_at
        )
        VALUES (
                    #{benefitId},
                    #{categoryId},
                    NOW()
               )
    </insert>

    <select id="findByPartnerId" resultMap="CategoryResponseMap">
        SELECT c.category_id, c.category_name, c.category_image_url
        FROM partner p
                 JOIN category c ON p.category_id = c.category_id
        WHERE p.partner_id = #{partnerId};
    </select>

    <resultMap id="CategoryResponseMap" type="CategoryResponse">
        <id property="id" column="category_id"/>
        <result property="name" column="category_name"/>
        <result property="imageUrl" column="category_image_url"/>
    </resultMap>

    <select id="selectAll" resultType="Category">
        select * from category;
    </select>
</mapper>