<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payper.domain.card.CardMapper">

    <!-- 등급 -->
    <resultMap id="GradeResponseMap" type="GradeResponse">
        <id property="id" column="grade_id"/>
        <result property="start" column="start"/>
        <result property="totalDiscount" column="total_discount"/>
    </resultMap>

    <!-- 혜택별 등급 할인 -->
    <resultMap id="BenefitGradeResponseMap" type="BenefitGradeDiscountResponse">
        <id property="id" column="benefit_grade_id"/>
        <result property="type" column="type"/>
        <result property="amount" column="amount"/>
        <result property="limitCount" column="limit_count"/>
        <result property="limitAmount" column="limit_amount"/>
        <result property="minPayment" column="min_payment" />
        <collection property="gradeResponse" javaType="GradeResponse" resultMap="GradeResponseMap"/>
    </resultMap>

    <!-- 카테고리 -->
    <resultMap id="CategoryResponseMap" type="CategoryResponse">
        <id property="id" column="category_id"/>
        <result property="name" column="category_name"/>
        <result property="imageUrl" column="category_image_url"/>
    </resultMap>

    <!-- 혜택 -->
    <resultMap id="BenefitResponseMap" type="BenefitResponse">
        <id property="id" column="benefit_id"/>
        <result property="title" column="benefit_title"/>
        <result property="summary" column="benefit_summary"/>
        <result property="description" column="benefit_description"/>
        <result property="iconUrl" column="benefit_icon_url"/>
        <collection property="benefitGradeDiscountResponseList" resultMap="BenefitGradeResponseMap"/>
        <collection property="categoryResponseList" resultMap="CategoryResponseMap"/>
    </resultMap>

    <!-- 카드사 -->
    <resultMap id="CardCompanyResponseMap" type="CardCompanyResponse">
        <id property="id" column="company_id"/>
        <result property="name" column="company_name"/>
    </resultMap>

    <!-- 카드 -->
    <resultMap id="CardResponseMap" type="CardResponse">
        <id property="id" column="card_id"/>
        <result property="name" column="card_name"/>
        <result property="type" column="card_type"/>
        <result property="imageUrl" column="card_image_url"/>
        <result property="annualCost" column="annual_fee"/>
        <result property="cardIssueUrl" column="card_issue_url"/>
        <association property="company" javaType="CardCompanyResponse" resultMap="CardCompanyResponseMap"/>
        <collection property="benefitResponseList" resultMap="BenefitResponseMap"/>
        <collection property="gradeResponseList" resultMap="GradeResponseMap"/>
    </resultMap>

    <!-- 카드 리스트 조회에서 사용하는 SQL문 -->
    <sql id="cardJoinClause">
        SELECT
            c.card_id, c.card_name, c.card_type, c.card_image_url, c.annual_fee, c.card_issue_url,
            cc.company_id, cc.company_name,
            b.benefit_id, b.benefit_title, b.benefit_summary, b.benefit_description, b.benefit_icon_url,
            bgd.benefit_grade_id, bgd.type, bgd.amount, bgd.limit_count, bgd.limit_amount, bgd.min_payment,
            g.grade_id, g.start, g.total_discount,
            cat.category_id, cat.category_name, cat.category_image_url
        FROM card c
                 LEFT JOIN card_company cc ON c.company_id = cc.company_id
                 LEFT JOIN benefit b ON c.card_id = b.card_id
                 LEFT JOIN benefit_grade_discount bgd ON b.benefit_id = bgd.benefit_id
                 LEFT JOIN grade g ON c.card_id = g.card_id AND bgd.grade_id = g.grade_id
                 LEFT JOIN benefit_category bc ON b.benefit_id = bc.benefit_id
                 LEFT JOIN category cat ON bc.category_id = cat.category_id
    </sql>

    <!-- 카드 전체 조회 -->
    <select id="selectAllCards" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <!-- 카드 조회 -->
    <select id="selectCardById" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        WHERE c.card_id = #{cardId};
    </select>

    <!-- 카드 검색 -->
    <!-- String name, String type, List<String> category, List<String> cardCompany -->
    <select id="searchWithConditions" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        WHERE 1 = 1
--           카드 이름으로 검색 - 포함 여부
            <if test="name != null and name != ''">
                AND c.card_name LIKE CONCAT('%', #{name}, '%')
            </if>

--           카드 종류로 검색(신용 또는 체크)
            <if test="type != null and type != ''">
                AND c.card_type = #{type}
            </if>

--           카테고리로 검색 - 다중 값 가능
            <if test="category != null and category.size() > 0">
                AND cat.category_name IN
                <foreach item="categoryItem" collection="category" open="(" separator="," close=")">
                    #{categoryItem}
                </foreach>
            </if>

--           카드사 이름으로 검색 - 다중 값 가능
            <if test="cardCompany != null and cardCompany.size() > 0">
                AND cc.company_name IN
                <foreach item="cardCompanyItem" collection="cardCompany" open="(" separator="," close=")">
                    #{cardCompanyItem}
                </foreach>
            </if>
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <!-- 내 카드 리스트 조회 -->
    <select id="selectCardsByUserID" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        INNER JOIN user_card uc ON c.card_id = uc.card_id
        WHERE uc.user_id = #{userId}
        AND uc.is_deleted = false
        ORDER BY c.card_id, b.benefit_id;
    </select>

    <!-- 내 카드로 등록 -->
    <insert id="registerCardMe">
        insert into user_card(user_id, card_id)
        values (#{userId}, #{cardId})
    </insert>

    <select id="existsCardCompany" resultType="boolean">
        select EXISTS(
            select 1 from card_company where company_name=#{cardCompanyName}
        )
    </select>

    <select id="getCardCompanyId" resultType="int">
        select company_id from card_company where company_name=#{cardCompanyName}
    </select>

    <insert id="registerCardCompany">
        INSERT INTO card_company(company_name)
        VALUES(#{cardCompanyName})
    </insert>

    <insert id="registerCard">
        INSERT INTO card (card_name, card_type, card_image_url, card_issue_url, company_id)
        VALUES (#{card.cardName},#{card.cardType},#{card.cardImageUrl},#{card.cardIssueUrl},#{cardCompanyId})
    </insert>


    <!-- 내 카드 삭제 -->
    <update id="softDeleteMyCard">
        UPDATE user_card
        SET is_deleted = true, deleted_at = NOW(), last_modified_at = NOW()
        WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deleted = false
    </update>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM card
            WHERE card_id = #{cardId}
        )
    </select>

    <!-- 카드 재등록 - 복원 -->
    <update id="restoreUserCard">
        UPDATE user_card
        SET is_deleted = false, deleted_at = NULL, last_modified_at = NOW()
        WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deleted = true
    </update>

    <!-- 삭제 이력이 있는 카드인가 -->
    <select id="isPreviouslyDeletedUserCard" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user_card
            WHERE user_id = #{userId}
              AND card_id = #{cardId}
              AND is_deleted = true
        )
    </select>

    <select id="existsUserCard" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM user_card
            WHERE user_id = #{userId} AND card_id = #{cardId} AND is_deleted = false
        )
    </select>

    <update id="softDeleteCard">

        UPDATE card
        SET deleted_at = NOW(), is_deleted = true
        WHERE card_id = #{cardId}

    </update>

    <!-- 가맹점에 맞는 내 카드 리스트 조회 -->
    <select id="findByPartnerId" resultMap="CardResponseMap">
        <include refid="cardJoinClause" />
        INNER JOIN user_card uc ON c.card_id = uc.card_id
        INNER JOIN benefit_partner bp ON b.benefit_id = bp.benefit_id
        WHERE uc.user_id = #{userId}
        AND uc.is_deleted = false
        AND bp.partner_id = #{partnerId}
        ORDER BY c.card_id, b.benefit_id;
    </select>
</mapper>

